body {
    margin: 0;
    padding: 0;
    --gap: 24px;
    font-family: 'NotoSansRegular';
    letter-spacing: 1px;
}

@font-face {
    font-family: 'NotoSansRegular';
    src: url(./fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'AssistantRegular';
    src: url(./fonts/Assistant-Regular.ttf);
}